# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
*.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db



services/sandbox.py
newrequirements.txt

