
<!-- replacing the whole card-->
<!-- <div class="card"> -->
    <div class="card-header">   
        <div><h4>Current Weather {{current_weather.forecast[0].fc_date.strftime("%m/%d")}}</h4><p>{{ current_weather.location }}</p></div>
    </div> <!-- Card Header -->
    <div class="card-body">
      <div class="circlecard">
	      <p class="addtemp">{{current_weather.forecast[0].low | int}}° | {{current_weather.forecast[0].high | int}}°</p>
	      <i class="wi {{ icon }} wi-flip-vertical weather-icon" style="font-size: 1rem;"></i>
	      <p class="maintemp">{{ current_weather.temperature | int }}°</p>
	      <p class="addtemp">Feels like: {{ current_weather.feelslike | int }}°</p>
      </div> <!-- Circle Card   -->
      <div>
        <h3>Forecast</h3>

        <div class="forecast-row">
        {% for day in current_weather.forecast %}
          <div class="forecastcard">
          <h4>{{ day.fc_date.strftime("%m/%d") }}</h4>
          <p>High: {{ day.high | int }}°</p>
          <p>Low: {{ day.low | int }}°</p>
          <i class="wi {{ day.weather_icon }} wi-flip-vertical weather-icon" style="font-size: 1rem;"></i>
          </div> <!-- Forecast Card -->
        {% endfor %}
      </div> <!-- Forecast Row -->
      </div> <!-- Card Body -->